# Activer le module de réécriture

RewriteEngine On

# Définir la base pour l'application

RewriteBase /tfeHistoire/

# Si la requête n'est pas un fichier existant

RewriteCond %{REQUEST_FILENAME} !-f

# Si la requête n'est pas un dossier existant

RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes vers index.html

RewriteRule ^(.*)$ index.html [L]
