<template id="mobileNavTemplate">
  <nav class="mobile-nav">
    <a href="./" data-link class="mobile-nav-item" id="mobileNavHome">
      <i class="bi bi-house-fill"></i>
      <span>Accueil</span>
    </a>
    <a href="calendar" data-link class="mobile-nav-item" id="mobileNavCalendar">
      <i class="bi bi-calendar3"></i>
      <span>Calendrier</span>
    </a>
    <a href="map" data-link class="mobile-nav-item" id="mobileNavMap">
      <i class="bi bi-map"></i>
      <span>Carte</span>
    </a>
    <a href="profile" data-link class="mobile-nav-item" id="mobileNavProfile">
      <i class="bi bi-person"></i>
      <span>Profil</span>
    </a>
  </nav>
</template>
